// blue theme colors

$dark-blue: rgba(0, 97, 254, 1);
$dark-blue-500: rgba(0, 97, 254, 0.5);
$light-blue: rgba(57, 132, 255, 0.08);
$border-blue: rgba(0, 97, 254, 0.16);

//purple theme colors
$dark-purple: rgba(122, 14, 195, 1);
$dark-purple-500: rgba(122, 14, 195, 0.5);
$light-purple: rgba(122, 14, 195, 0.08);
$border-purple: rgba(122, 14, 195, 0.16);
